<!DOCTYPE html>
<html lang="en">

<head>
    <%include admin-meta.ejs%>

        <%include admin-css.ejs%>
            <link rel="stylesheet" href="css/my-css.css">

            <title>KINGPES-ADMIN-PAGE</title>
</head>

<body>

    <header>
        <%include admin-header.ejs%>
    </header>

    <main>
        <%include add/admin-add.ejs%>
    </main>

    <footer>
        <%include admin-footer.ejs%>
    </footer>

    <%include admin-js.ejs%>

        <%include add/add-js.ejs%>

</body>

</html>