<!DOCTYPE html>
<html lang="en">

<head>
    <%include admin-meta.ejs%>

        <%include admin-css.ejs%>

            <title>KINGPES-ADMIN-LOGIN</title>
</head>

<body class="grey lighten-3 center-align">

    <div style="margin-top: 10%"></div>

    <div class="row">
        <div class="col s12 m4 offset-m4">

            <div class="card-panel grey lighten-3">

                <h5 class="center flow-text">DANG NHAP</h5>

                <form>
                    <div class="input-field">
                        <input id="username" type="text" name="username">
                        <label for="username">Ten Dang Nhap</label>
                    </div>

                    <div class="input-field">
                        <input id="password" type="text" name="password">
                        <label for="password">Password</label>
                    </div>

                    <div style="margin-top: 20px">
                        <input type="submit" class="btn bottom" value="DANG NHAP" id="login">
                        <br>
                        <span id="statuss"></span>
                        <div id="progress" class="progress">
                            <div class="indeterminate"></div>
                        </div>
                    </div>
                </form>

            </div>
        </div>

    </div>

    <form id="uploadForm" enctype="multipart/form-data" action="/admin-logins" method="post">
        <input type="file" name="userPhoto" multiple />
        <input type="submit" value="Upload Image" name="submit">
        <input type='text' id='random' name='mot'>
        <input type='text' id='random' name='hai'>
        <input type='text' id='random' name='ba'>
        <br>
        <span id="status"></span>
    </form>

    <%include admin-js.ejs%>
    <script src="http://cdnjs.cloudflare.com/ajax/libs/jquery.form/3.51/jquery.form.min.js"></script>


        <script>

            $(document).ready(function () {

                $('#login').click(function () {
                    var u = $('#username').val();
                    var p = $('#password').val();
                    login(u, p);
                });
            });


            function login(_username, _password) {
                $.ajax({
                    method: "POST",
                    dataType: "json",
                    beforeSend: function (request) {
                        request.setRequestHeader("secret", "12345");
                    },
                    url: "http://localhost:3000/admin-login",
                    data: {
                        username: _username,
                        password: _password
                    },
                    success: function success(data) {

                        $("#statuss").empty().text(response);
                        

                    }
                });
            }

        </script>

<script>
        $(document).ready(function () {
            $('#uploadForm').submit(function () {
                $("#status").empty().text("File is uploading...");
                $(this).ajaxSubmit({
                    beforeSend: function (request) {
                        request.setRequestHeader("secret", "12345");
                    },
                    error: function (xhr) {
                        status('Error: ' + xhr.status);
                    },
                    success: function (response) {
                        console.log(response)
                        $("#status").empty().text(response);
                    }
                });
                return false;
            });
        });
    </script>

</body>

</html>