<section class="section section-icons grey lighten-4 center">

    <div class="row">
        <div class="col s12 m3">
            <div class="card-panel purple darken-1">
                <i class="material-icons large teal-text">room</i>
                <h4 class="flow-text">100000000</h4>
            </div>
        </div>
        <div class="col s12 m3">
            <div class="card-panel">
                <i class="material-icons large teal-text">store</i>
                <h4 class="flow-text">100000000</h4>
            </div>
        </div>
        <div class="col s12 m3">
            <div class="card-panel">
                <i class="material-icons large teal-text">airplanemode_active</i>
                <h4 class="flow-text">100000000</h4>
            </div>
        </div>
        <div class="col s12 m3">
            <div class="card-panel">
                <i class="material-icons large teal-text">airplanemode_active</i>
                <h4 class="flow-text">100000000</h4>
            </div>
        </div>
    </div>

</section>