<!DOCTYPE html>
<html lang="en">

<head>
    <%include admin-meta.ejs%>

        <%include admin-css.ejs%>

            <title>KINGPES-ADMIN-LOGIN</title>
</head>

<body class="grey lighten-3 center-align">

    <div style="margin-top: 10%"></div>

    <div class="row">
        <div class="col s12 m4 offset-m4">

            <div class="card-panel grey lighten-3">

                <h5 class="center flow-text">ĐĂNG NHẬP HỆ THỐNG</h5>

                <div class="input-field">
                    <input id="username" type="text" name="username">
                    <label for="username">Tên Đăng Nhập</label>
                </div>

                <div class="input-field">
                    <input id="password" type="password" name="password">
                    <label for="password">Mật Khẩu</label>
                </div>

                <div style="margin-top: 20px">
                    <input type="submit" class="btn bottom" value="Đăng Nhập" id="login">
                    <br>
                    <div id="status"></div>
                    <div id="progress" class="progress">
                        <div class="indeterminate"></div>
                    </div>
                </div>

            </div>
        </div>

    </div>

    <%include admin-js.ejs%>
        <script src="http://cdnjs.cloudflare.com/ajax/libs/jquery.form/3.51/jquery.form.min.js"></script>


        <script>

            var progress = $("#progress");


            $(document).ready(function () {

                if (progress.is(':visible')) {
                    progress.hide();
                }



                $('#login').click(function () {
                    var u = $('#username').val();
                    var p = $('#password').val();
                    login(u, p);

                    progress.show();
                });
            });


            function login(_username, _password) {
                $("#status").empty().text('Đang xử lý');
                $.ajax({
                    method: "POST",
                    dataType: "json",
                    beforeSend: function (request) {
                        request.setRequestHeader("secret", "12345");
                    },
                    url: "http://localhost:3000/admin-login",
                    data: {
                        username: _username,
                        password: _password
                    },
                    success: function success(data) {
                        progress.hide();

                        $("#status").empty().text(data.status);

                        window.location.href = 'http://localhost:3000/admin-home';
                        
                    }
                });
            }

        </script>

        <!-- <script>
            $(document).ready(function () {
                $('#uploadForm').submit(function () {
                    $("#status").empty().text("File is uploading...");
                    $(this).ajaxSubmit({
                        beforeSend: function (request) {
                            request.setRequestHeader("secret", "12345");
                        },
                        error: function (xhr) {
                            status('Error: ' + xhr.status);
                        },
                        success: function (response) {
                            console.log(response)
                            $("#status").empty().text(response);
                        }
                    });
                    return false;
                });
            });
        </script> -->

</body>

</html>