<!-- Section: Contact -->
<section id="product-add" class="section section-add">
    <div class="container">
        <div class="row">
            <div class="card-panel grey lighten-3">
                <h5 class="center flow-text">THÊM MỚI SẢN PHẨM</h5>
                <div class="input-field">
                    <input id="product-code" type="text" placeholder="Mã Sản Phẩm">
                </div>
                <div class="input-field">
                    <input id="product-name" type="text" placeholder="Tên Sản Phẩm">
                </div>
                <div class="input-field">
                    <input id="product-category" type="text" placeholder="Danh Mục-Chon tu combox">
                </div>
                <div class="input-field">
                    <input id="product-amount" type="text" placeholder="Số Lượng">
                </div>
                <div class="input-field">
                    <input id="product-buy" type="text" placeholder="Mua Vào">
                </div>
                <div class="input-field">
                    <input id="product-sell" type="text" placeholder="Bán Ra">
                </div>
                <div class="input-field">
                    <input id="product-promotion" type="text" placeholder="Khuyến Mại-Chon tu combox">
                </div>

                <div class="input-field">
                    <textarea class="materialize-textarea" placeholder="Enter Message"></textarea>
                </div>

                <div class="file-field input-field">
                    <div class="btn">
                        <span>Upload hinh span>
                        <input type="file" multiple>
                    </div>
                    <div class="file-path-wrapper">
                        <input class="file-path validate" type="text" placeholder="Upload one or more files">
                    </div>
                </div>


                <input type="submit" value="Submit" class="btn" id="btn-add">
            </div>
        </div>
    </div>
</section>