<div id="modal-alert" class="modal">
        <div class="modal-content">
            <div class="nav-wrapper center">
              <h3 class="flow-text">Cap nhat thanh cong</h3>
            </div>
        </div>
        <div class="modal-footer">
            <div class="row">
                <div class="input-field col s6">
                    <a href="#!" class="waves-effect waves-green btn right">Thoat</a>
                </div>
                <div class="input-field col s6">
                    <a href="#!" class="modal-action modal-close waves-effect waves-green btn left">Thoat</a>
                </div>
            </div>

        </div>
      </div>