<!-- Section: Contact -->
<section id="contact" class="section section-contact">
    <div class="container">
        <div class="row">
            <div class="card-panel grey lighten-3">
                <h5 class="center flow-text">THÊM MỚI SẢN PHẨM</h5>
                <div class="input-field">
                    <input type="text" placeholder="Mã Sản Phẩm">
                </div>
                <div class="input-field">
                    <input type="text" placeholder="Tên Sản Phẩm">
                </div>
                <div class="input-field">
                    <input type="text" placeholder="Danh Mục-Chon tu combox">
                </div>
                <div class="input-field">
                    <input type="text" placeholder="Số Lượng">
                </div>
                <div class="input-field">
                    <input type="text" placeholder="Mua Vào">
                </div>
                <div class="input-field">
                    <input type="text" placeholder="Bán Ra">
                </div>
                <div class="input-field">
                    <input type="text" placeholder="Khuyến Mại-Chon tu combox">
                </div>
                <div class="input-field">
                    <textarea class="materialize-textarea" placeholder="Enter Message"></textarea>
                </div>

                <form action="#">
                    <div class="file-field input-field">
                      <div class="btn">
                        <span>Update File</span>
                        <input type="file" multiple>
                      </div>
                      <div class="file-path-wrapper">
                        <input class="file-path validate" type="text" placeholder="Upload one or more files">
                      </div>
                    </div>
                  </form>

                <input type="submit" value="Submit" class="btn" id="btn-add">
            </div>
        </div>
    </div>
</section>