<!-- Section: Detail -->
<section id="detail" class="section">
    <div class="container">
        <div class="row">

            <h4 class="flow-text">
                <span class="teal-text">XE hoifs fsdfldfjldsk fs jflk</span>
            </h4>

            <div class="col s12 m8">
                <div class="card-panel grey lighten-3 hoverable">
                    <div class="carousel carousel-slider">
                        <a class="carousel-item">
                            <img class="carousel-image materialboxed responsive-img" src="img/resort1.jpg">
                        </a>
                        <a class="carousel-item">
                            <img class="carousel-image materialboxed responsive-img" src="img/resort2.jpg">
                        </a>
                        <a class="carousel-item">
                            <img class="carousel-image materialboxed responsive-img" src="img/resort3.jpg">
                        </a>
                        <a class="carousel-item">
                            <img class="carousel-image materialboxed responsive-img" src="img/resort1.jpg">
                        </a>
                        <a class="carousel-item">
                            <div class="video-container resp-iframe">
                                <iframe width="853" height="480" src="//www.youtube.com/embed/FzG4uDgje3M" frameborder="0" allowfullscreen></iframe>
                            </div>
                        </a>
                        <a class="prev">&#10094;</a>
                        <a class="next">&#10095;</a>
                    </div>
                </div>
            </div>
            <div class="col s12 m4">
                <div class="card-panel grey lighten-3 hoverable">

                    <div class="section" style="margin-top: -35px">
                        <div class="input-field">
                            <span class="grey-text" id="product-code">Giá bán:</span>
                            <label class="teal-text" for="product-code" style="position: absolute; left: 50%;">500.000 K</label>
                        </div>

                        <div class="divider"></div>

                        <div class="input-field">
                            <span class="grey-text" id="product-code">Khuyến mãi:</span>
                            <label class="teal-text" for="product-code" style="position: absolute; left: 50%;">500.000 K</label>
                        </div>

                        <div class="divider"></div>

                        <div class="input-field center">
                            <input id="voucher-code" type="text" name="voucher-code" placeholder="Mã giảm giá" style="width: 50%; height: 35px;">
                            <a class="btn" id="btn-apply" style="height: 36px;">Áp dụng</a>
                        </div>

                        <div class="divider"></div>

                        <div class="input-field">
                            <span class="grey-text" id="product-code">Phí vận chuyển:</span>
                            <label class="teal-text" for="product-code" style="position: absolute; left: 50%;">500.000 K</label>
                        </div>

                        <div class="divider"></div>

                        <div class="input-field">
                            <span class="grey-text" id="product-code">Tổng cộng:</span>
                            <label class="red-text" for="product-code" style="position: absolute; left: 40%; top: 50%; font-size: 28px;">500.000 K</label>
                        </div>


                    </div>
                    <div class="input-field center">
                        <input type="submit" value="Mua ngay" class="btn-small" style="width: 100%; margin-top: 8px;">
                    </div>

                </div>
            </div>
        </div>
    </div>
</section>

<!-- Section: Info -->
<section id="info" class="section">
    <div class="container">
        <!-- Tab -->
        <div class="card-panel grey lighten-3 hoverable">
            <div class="card-tabs">
                <ul class="tabs tabs-fixed-width grey lighten-3">
                    <li class="tab">
                        <a class="active" href="#thong-tin">Thông tin</a>
                    </li>
                    <li class="tab">
                        <a href="#danh-gia">Đánh giá</a>
                    </li>
                    <li class="tab">
                        <a href="#cau-hoi">Câu hỏi</a>
                    </li>
                </ul>
            </div>

            <!-- Tab Info -->
            <div id="thong-tin">
                <h6 class="collection description" id="description">ddddd</h6>
            </div>

            <!-- Tab Raiting -->
            <div id="danh-gia">
                <ul class="collection" id="rate-item">ddddssa</ul>
            </div>

            <!-- Tab Question -->
            <div id="cau-hoi">
                <ul class="collection" id="comment-item">faasfafs</ul>
            </div>

        </div>
    </div>
</section>

<!-- Section: Same Product -->
<section id="same-product" class="section">
    <div class="container">
        <div class="row">
            <h4 class="center flow-text">
                <span class="teal-text">Giảm sốc</span>
            </h4>

            <div style="overflow-x: auto; white-space: nowrap;  display: -webkit-flex;">

                <div class="col s12 m4">
                    <div class="card">
                        <div class="card-image">
                            <img src="img/resort1.jpg" alt="">
                            <span class="label-discount-bottom-left">100%</span>
                            <span class="label-discount-bottom-right">100%</span>
                            <span class="label-discount-top-left">
                                <img src="img/label_new.png">
                            </span>
                        </div>
                        <div class="card-content">
                            Lorem, ipsum dolor sit amet consectetur adipisicing elit. Nostrum ea deserunt officia, dicta sint perferendis.
                        </div>
                    </div>
                </div>

                <div class="col s12 m4">
                    <div class="card">
                        <div class="card-image">
                            <img src="img/resort1.jpg" alt="">
                            <span class="card-title">Cancun, Mexico</span>
                        </div>
                        <div class="card-content">
                            Lorem, ipsum dolor sit amet consectetur adipisicing elit. Nostrum ea deserunt officia, dicta sint perferendis.
                        </div>
                    </div>
                </div>

                <div class="col s12 m4">
                    <div class="card">
                        <div class="card-image">
                            <img src="img/resort1.jpg" alt="">
                            <span class="card-title">Cancun, Mexico</span>
                        </div>
                        <div class="card-content">
                            Lorem, ipsum dolor sit amet consectetur adipisicing elit. Nostrum ea deserunt officia, dicta sint perferendis.
                        </div>
                    </div>
                </div>

                <div class="col s12 m4">
                    <div class="card">
                        <div class="card-image">
                            <img src="img/resort1.jpg" alt="">
                            <span class="card-title">Cancun, Mexico</span>
                        </div>
                        <div class="card-content">
                            Lorem, ipsum dolor sit amet consectetur adipisicing elit. Nostrum ea deserunt officia, dicta sint perferendis.
                        </div>
                    </div>
                </div>

                <div class="col s12 m4">
                    <div class="card">
                        <div class="card-image">
                            <img src="img/resort1.jpg" alt="">
                            <span class="card-title">Cancun, Mexico</span>
                        </div>
                        <div class="card-content">
                            Lorem, ipsum dolor sit amet consectetur adipisicing elit. Nostrum ea deserunt officia, dicta sint perferendis.
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </div>
</section>
