<!-- Section: Contact -->
<section id="product-add" class="section section-add grey lighten-3">
    <div class="container">
        <div class="row">
            <div class="card-panel grey lighten-3">

                <h5 class="center flow-text">THÊM MỚI SẢN PHẨM</h5>

                <form id="addForm" enctype="multipart/form-data" action="admin/product/add-image-product.html" method="post">

                    <div class="row">
                        <div class="input-field col s10">
                            <input id="product-code" type="text" name="productCode" oninput="this.setCustomValidity('')" oninvalid="this.setCustomValidity('Vui lòng nhập mã sản phẩm')"
                                required>
                            <label for="product-code">Mã sản phẩm</label>
                        </div>
                        <div class="input-field col s2">
                            <a class="btn" id="btn-check">Check</a>
                        </div>
                    </div>

                    <div class="input-field gone">
                        <input id="product-name" type="text" name="productName" oninput="this.setCustomValidity('')" oninvalid="this.setCustomValidity('Vui lòng nhập ten sản phẩm')"
                            required>
                        <label for="product-name">Tên sản phẩm</label>
                    </div>

                    <div class="input-field gone">
                        <input id="product-category" type="text" name="productCategory" oninput="this.setCustomValidity('')" oninvalid="this.setCustomValidity('Vui lòng nhập mã sản phẩm')"
                            required>
                        <label for="product-category">Danh Mục-Chon tu combox</label>
                    </div>

                    <div class="input-field">
                        <select id="select-category">
                            <option value="0" class="grey-text">Chon mot</option>
                            <option value="1">Option 1</option>
                            <option value="2">Option 2</option>
                            <option value="3">Option 3</option>
                        </select>
                    </div>

                    <div class="input-field gone">
                        <input id="product-amount" type="text" name="productAmount" oninput="this.setCustomValidity('')" oninvalid="this.setCustomValidity('Vui lòng nhập mã sản phẩm')"
                            required>
                        <label for="product-amount">Số lượng</label>
                    </div>

                    <div class="input-field gone">
                        <input id="product-buy" type="text" name="productBuy" oninput="this.setCustomValidity('')" oninvalid="this.setCustomValidity('Vui lòng nhập mã sản phẩm')"
                            required>
                        <label for="product-buy">Mua vào</label>
                    </div>

                    <div class="input-field gone">
                        <input id="product-sell" type="text" name="productSell" oninput="this.setCustomValidity('')" oninvalid="this.setCustomValidity('Vui lòng nhập mã sản phẩm')"
                            required>
                        <label for="product-sell">Bán ra</label>
                    </div>

                    <div class="input-field gone">
                        <input id="product-promotion" type="text" name="productPromotion">
                        <label for="product-promotion">Khuyến Mại-Chon tu combox</label>
                    </div>

                    <div class="input-field file-field image-input gone">
                        <input id="file" type="file" name="userPhoto" required="" accept="image/*" multiple>
                        <div class="file-path-wrapper">
                            <input class="file-path" type="text" placeholder="Chọn hình ảnh cho sản phẩm">
                        </div>
                    </div>

                    <div class="input-field gone">
                        <div id="product-video" class="chips chips-placeholder"></div>
                    </div>

                    <div class="file-field margin-top-20 gone">
                        <p class="grey-text">Thông tin sản phẩm</p>
                        <textarea id="editor" name="editor"></textarea>
                    </div>

                    <div class="margin-top-20 gone">
                        <input type="submit" value="Thêm" class="btn bottom" id="btn-add">
                    </div>

                </form>

                <div id="progress" class="progress">'
                    <div class="indeterminate"></div>'
                </div>
            </div>
        </div>
    </div>
</section>