<div id="modal-exist" class="modal">
    <div class="modal-content">
        <div class="nav-wrapper center">
            <h3 class="flow-text">Sản phẩm đã tồn tại</h3>
        </div>
    </div>
    <div class="modal-footer">
        <div class="row">

            <a href="admin/product/update-product.html" class="waves-effect waves-green btn center">Cập nhật sản phẩm</a>

        </div>

    </div>
</div>