<!-- Section: Search -->
<div id="search.html" class="section teal darken-1 white-text center scrollspy">
    <div class="container">
        <form>
            <div class="input-field">
                <input type="text" class="white grey-text autocomplete" id="autocomplete-input" placeholder="Aruba, Cancun, etc..." style="text-indent: 25px">
                <label class="label-icon" for="autocomplete-input">
                    <i class="material-icons teal-text">search</i>
                </label>
            </div>
        </form>
    </div>
</div>

<!-- Section: Banner -->
<section id="banner" class="slider">
    <ul class="slides">
        <li>
            <img src="img/resort1.jpg">
            <!-- random image -->
            <div class="caption center-align">
                <h2>Take Your Dream Vacation</h2>
                <h5 class="light grey-text text-lighten-3 hide-on-small-only">Lorem ipsum dolor sit amet consectetur adipisicing elit. Quidem, provident eos dicta unde debitis</h5>
            </div>
        </li>
        <li>
            <img src="img/resort2.jpg">
            <!-- random image -->
            <div class="caption left-align">
                <h2>We Work With All Budgets</h2>
                <h5 class="light grey-text text-lighten-3 hide-on-small-only">Lorem ipsum dolor sit amet consectetur adipisicing elit. Possimus delectus inventore neque impedit</h5>
            </div>
        </li>
        <li>
            <img src="img/resort3.jpg">
            <!-- random image -->
            <div class="caption right-align">
                <h2>Group & Individual Getaways</h2>
                <h5 class="light grey-text text-lighten-3 hide-on-small-only">Lorem ipsum dolor sit amet consectetur adipisicing elit. Sunt ipsum molestias excepturi doloremque</h5>
            </div>
        </li>
    </ul>
</section>

<!-- Section: Flash Sale -->
<section id="flash-sale.html" class="section scrollspy">
    <div class="container">
        <div class="row">
            <h4 class="center flow-text">
                <span class="teal-text">Giảm sốc</span>
            </h4>

            <div style="overflow-x: auto; white-space: nowrap;  display: -webkit-flex;">

                <div class="col s12 m4">
                    <div class="card">
                        <div class="card-image">
                            <img src="img/resort1.jpg" alt="">
                            <span class="label-discount-bottom-left">100%</span>
                            <span class="label-discount-bottom-right">100%</span>
                            <span class="label-discount-top-left">
                                <img src="img/label_new.png">
                            </span>
                        </div>
                        <div class="card-content">
                            Lorem, ipsum dolor sit amet consectetur adipisicing elit. Nostrum ea deserunt officia, dicta sint perferendis.
                        </div>
                    </div>
                </div>

                <div class="col s12 m4">
                    <div class="card">
                        <div class="card-image">
                            <img src="img/resort1.jpg" alt="">
                            <span class="card-title">Cancun, Mexico</span>
                        </div>
                        <div class="card-content">
                            Lorem, ipsum dolor sit amet consectetur adipisicing elit. Nostrum ea deserunt officia, dicta sint perferendis.
                        </div>
                    </div>
                </div>

                <div class="col s12 m4">
                    <div class="card">
                        <div class="card-image">
                            <img src="img/resort1.jpg" alt="">
                            <span class="card-title">Cancun, Mexico</span>
                        </div>
                        <div class="card-content">
                            Lorem, ipsum dolor sit amet consectetur adipisicing elit. Nostrum ea deserunt officia, dicta sint perferendis.
                        </div>
                    </div>
                </div>

                <div class="col s12 m4">
                    <div class="card">
                        <div class="card-image">
                            <img src="img/resort1.jpg" alt="">
                            <span class="card-title">Cancun, Mexico</span>
                        </div>
                        <div class="card-content">
                            Lorem, ipsum dolor sit amet consectetur adipisicing elit. Nostrum ea deserunt officia, dicta sint perferendis.
                        </div>
                    </div>
                </div>

                <div class="col s12 m4">
                    <div class="card">
                        <div class="card-image">
                            <img src="img/resort1.jpg" alt="">
                            <span class="card-title">Cancun, Mexico</span>
                        </div>
                        <div class="card-content">
                            Lorem, ipsum dolor sit amet consectetur adipisicing elit. Nostrum ea deserunt officia, dicta sint perferendis.
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </div>
</section>

<!-- Section: Product -->
<section id="product.html" class="section scrollspy">
    <div class="container">
        <div class="row">
            <h4 class="center flow-text">
                <span class="teal-text">Tất cả sản phẩm</span>
            </h4>

            <div class="col s12 m4">
                <div class="card hoverable" href="site/detail/sn:7.html">
                    <div class="card-image">
                        <img src="img/resort1.jpg" alt="">
                        <span class="label-discount-bottom-left">100%</span>
                        <span class="label-discount-bottom-right">100%</span>
                        <span class="label-discount-top-left">
                            <img src="img/label_new.png">
                        </span>
                    </div>
                    <div class="card-content">
                        <span class="teal-text">Tất cả sản phẩm</span>
                        <div class="center red-text" style="font-size: 2vw">
                            <span class="teal-text line-through" style="font-size: 1vw">100.000 K</span>
                            500.000 K
                        </div>


                    </div>
                    <div class="card-action center" style="padding-bottom: 10%;">
                        
                            <div class="col s6">
                                <i class="material-icons yellow-text text-darken-2 icon-small">star</i>
                                <i class="material-icons yellow-text text-darken-2 icon-small">star</i>
                                <i class="material-icons yellow-text text-darken-2 icon-small">star</i>
                                <i class="material-icons yellow-text text-darken-2 icon-small">star</i>
                                <i class="material-icons yellow-text text-darken-2 icon-small">star</i>
                                <a class="text-small">('5/9')</a>
                            </div>
                            <div class="col s3">
                                <i class="material-icons red-text text-darken-2 icon-small">comment</i>
                                <a class="text-small">('5/9')</a>
                            </div>

                            <div class="col s3">
                                <i class="material-icons red-text text-darken-2 icon-small">favorite</i>
                                <a class="text-small">('5/9')</a>
                            </div>
                        
                    </div>
                </div>
            </div>

            <div class="col s12 m4">
                <div class="card hoverable">
                    <div class="card-image">
                        <img src="img/resort2.jpg" alt="">
                        <span class="card-title">The Bahamas</span>
                    </div>
                    <div class="card-content">
                        Lorem, ipsum dolor sit amet consectetur adipisicing elit. Nostrum ea deserunt officia, dicta sint perferendis.
                    </div>
                </div>
            </div>
            <div class="col s12 m4">
                <div class="card hoverable">
                    <div class="card-image">
                        <img src="img/resort3.jpg" alt="">
                        <span class="card-title">Nova Scotia</span>
                    </div>
                    <div class="card-content">
                        Lorem, ipsum dolor sit amet consectetur adipisicing elit. Nostrum ea deserunt officia, dicta sint perferendis.
                    </div>
                </div>
            </div>
            <div class="col s12 m4">
                <div class="card hoverable">
                    <div class="card-image">
                        <img src="img/resort3.jpg" alt="">
                        <span class="card-title">Nova Scotia</span>
                    </div>
                    <div class="card-content">
                        Lorem, ipsum dolor sit amet consectetur adipisicing elit. Nostrum ea deserunt officia, dicta sint perferendis.
                    </div>
                </div>
            </div>
            <div class="col s12 m4">
                <div class="card hoverable">
                    <div class="card-image">
                        <img src="img/resort3.jpg" alt="">
                        <span class="card-title">Nova Scotia</span>
                    </div>
                    <div class="card-content">
                        Lorem, ipsum dolor sit amet consectetur adipisicing elit. Nostrum ea deserunt officia, dicta sint perferendis.
                    </div>
                </div>
            </div>
            <div class="col s12 m4">
                <div class="card hoverable">
                    <div class="card-image">
                        <img src="img/resort3.jpg" alt="">
                        <span class="card-title">Nova Scotia</span>
                    </div>
                    <div class="card-content">
                        Lorem, ipsum dolor sit amet consectetur adipisicing elit. Nostrum ea deserunt officia, dicta sint perferendis.
                    </div>
                </div>
            </div>
            <div class="col s12 m4">
                <div class="card">
                    <div class="card-image">
                        <img src="img/resort3.jpg" alt="">
                        <span class="card-title">Nova Scotia</span>
                    </div>
                    <div class="card-content">
                        Lorem, ipsum dolor sit amet consectetur adipisicing elit. Nostrum ea deserunt officia, dicta sint perferendis.
                    </div>
                </div>
            </div>
            <div class="col s12 m4">
                <div class="card">
                    <div class="card-image">
                        <img src="img/resort3.jpg" alt="">
                        <span class="card-title">Nova Scotia</span>
                    </div>
                    <div class="card-content">
                        Lorem, ipsum dolor sit amet consectetur adipisicing elit. Nostrum ea deserunt officia, dicta sint perferendis.
                    </div>
                </div>
            </div>
            <div class="col s12 m4">
                <div class="card">
                    <div class="card-image">
                        <img src="img/resort3.jpg" alt="">
                        <span class="card-title">Nova Scotia</span>
                    </div>
                    <div class="card-content">
                        Lorem, ipsum dolor sit amet consectetur adipisicing elit. Nostrum ea deserunt officia, dicta sint perferendis.
                    </div>
                </div>
            </div>
            <div class="col s12 m4">
                <div class="card">
                    <div class="card-image">
                        <img src="img/resort3.jpg" alt="">
                        <span class="card-title">Nova Scotia</span>
                    </div>
                    <div class="card-content">
                        Lorem, ipsum dolor sit amet consectetur adipisicing elit. Nostrum ea deserunt officia, dicta sint perferendis.
                    </div>
                </div>
            </div>

        </div>

        <div class="center">
            <span class="white-text btn" id="load-more">Hiển thị thêm</span>
        </div>

    </div>
</section>