<!-- Navbar -->
<div class="navbar">
    <nav class="cyan">
        <div class="container">
            <div class="nav-wrapper">
                <a href="#" class="brand-logo">Kingpes</a>
                <a href="#" data-target="mobile-nav" class="sidenav-trigger">
                    <i class="material-icons">menu</i>
                </a>
                <ul class="right hide-on-med-and-down">
                    <li>
                        <a href="#home">Xin Chao: Admin</a>
                    </li>
                    <!-- <li>
                        <a href="#search">Tìm Kiếm</a>
                    </li> -->
                </ul>
            </div>
        </div>
    </nav>
</div>


<ul class="sidenav sidenav-fixed" id="mobile-nav">
    <li>
        <div class="user-view">
            <div class="background">
                <img src="img/resort3.jpg">
            </div>
            <a href="#user">
                <img class="circle" src="img/resort1.jpg">
            </a>
            <a href="#name">
                <span class="white-text name">Kingpes</span>
            </a>
            <a href="#email">
                <span class="white-text email">kingpesvn@gmail.com</span>
            </a>
        </div>
    </li>
    <li>
        <a href="#home">Thống Kê</a>
    </li>
    <li>
        <a href="#search">Danh sách sản phẩm</a>
    </li>
    <li>
        <a href="#search">Thêm sản phẩm</a>
    </li>
    <li>
        <a href="#popular">Cập nhật sản phẩm</a>
    </li>
    <li>
        <a href="#gallery">Xoá sản phẩm</a>
    </li>
    <li>
        <a href="#contact">Liên Hệ</a>
    </li>

    <li class="no-padding">
        <ul class="collapsible collapsible-accordion">
            <li>
                <a class="collapsible-header" id="vvv">Mã giảm giá
                    <i class="material-icons right">arrow_drop_down</i>
                </a>
                <div class="collapsible-body">
                    <ul>
                        <li class="redss">
                            <a href="#">Danh sách sản phẩm</a>
                        </li>
                        <li class="active">
                            <a href="#">Thêm sản phẩm</a>
                        </li>
                        <li>
                            <a href="#">Cập nhật sản phẩm</a>
                        </li>
                        <li>
                            <a href="#">Xoá sản phẩm</a>
                        </li>
                    </ul>
                </div>
            </li>
        </ul>
    </li>

    <li class="no-padding">
        <ul class="collapsible collapsible-accordion">
            <li>
                <a class="collapsible-header">Khuyến mãi
                    <i class="material-icons right">arrow_drop_down</i>
                </a>
                <div class="collapsible-body">
                    <ul>
                        <li>
                            <a href="#">link1</a>
                        </li>
                        <li>
                            <a href="#">link1</a>
                        </li>
                        <li>
                            <a href="#">link1</a>
                        </li>
                        <li>
                            <a href="#">link1</a>
                        </li>
                    </ul>
                </div>
            </li>
        </ul>
    </li>

    <li class="no-padding">
        <ul class="collapsible collapsible-accordion">
            <li>
                <a class="collapsible-header">Sản phẩm
                    <i class="material-icons right">arrow_drop_down</i>
                </a>
                <div class="collapsible-body">
                    <ul>
                        <li>
                            <a href="#">link1</a>
                        </li>
                        <li>
                            <a href="#">link1</a>
                        </li>
                        <li>
                            <a href="#">link1</a>
                        </li>
                        <li>
                            <a href="#">link1</a>
                        </li>
                    </ul>
                </div>
            </li>
        </ul>
    </li>

    <li class="no-padding">
        <ul class="collapsible collapsible-accordion">
            <li>
                <a class="collapsible-header">Sự kiện
                    <i class="material-icons right">arrow_drop_down</i>
                </a>
                <div class="collapsible-body">
                    <ul>
                        <li>
                            <a href="#">link1</a>
                        </li>
                        <li>
                            <a href="#">link1</a>
                        </li>
                        <li>
                            <a href="#">link1</a>
                        </li>
                        <li>
                            <a href="#">link1</a>
                        </li>
                    </ul>
                </div>
            </li>
        </ul>
    </li>

    <li class="no-padding">
        <ul class="collapsible collapsible-accordion">
            <li>
                <a class="collapsible-header" id="drop-baiviet">Bài viết
                    <i class="material-icons right">arrow_drop_down</i>
                </a>
                <div class="collapsible-body">
                    <ul>
                        <li>
                            <a href="#">link1</a>
                        </li>
                        <li>
                            <a href="#">link1</a>
                        </li>
                        <li>
                            <a href="#">link1</a>
                        </li>
                        <li class="active">
                            <a href="#">link1</a>
                        </li>
                    </ul>
                </div>
            </li>
        </ul>
    </li>

</ul>