<div id="modal-search" class="modal">
    <div class="modal-content">
        <div class="card">
            <div class="card-tabs">
                <ul class="tabs tabs-fixed-width">
                    <li class="tab">
                        <a class="active" href="#dang-nhap">Đăng Nhập</a>
                    </li>
                    <li class="tab">
                        <a href="#dang-ky">Đăng Ký</a>
                    </li>
                </ul>
            </div>

            <!-- Login -->
            <div id="thong-tin">
                <div id="dang-nhap" class="collection">
                    <form class="col s6">

                        <!-- Nickname -->
                        <div class="row">
                            <div class="input-field col s6">
                                <input id="login-nickname" type="text">
                                <label for="login-nickname">Tên Đăng Nhập</label>
                            </div>
                        </div>

                        <!-- Password -->
                        <div class="row">
                            <div class="input-field col s6">
                                <input id="login-password" type="password">
                                <label for="login-password">Mật Khẩu</label>
                            </div>
                        </div>

                        <!-- Button -->
                        <div class="row">
                            <div class="col s6">
                                <p class="text-center">
                                    <a href="javascript:void(0)" id="btn-login" data-toggle="collapse" class="btn btn-default2 animate-box" data-on="Enabled"
                                        data-off="Disabled">Đăng Nhập</a>
                                </p>
                            </div>
                        </div>

                    </form>
                    <div>
                    </div>

                    <!-- Register -->
                    <div id="danh-gia">
                        <ul id="dang-ky" class="collection"></ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
