.pinned {
  /* Make menu not overlapped and 100% when pinned */
  width: 100%;
  z-index: 1
}
#sidenav-overlay{
  /* fix mobile menu open overlapped issue */
  z-index: 1; 
  left: 300px;
}

blockquote {
  /* over quote color */
  border-left: 5px solid #ff5722  !important; 
}

@media screen and (min-width: 600px) {
  .price-sell {
    font-size: 20px !important;
  }

  .mobile-search-input{
    margin-top: 4px !important;
  }
}

@media screen and (min-width: 992px) {
  .price-sell {
    font-size: 20px !important;
  }

  .store-button{
    width: 120%;
  }

  .mobile-search input:first-child {
    display: none !important;
  }

  .mobile-search label:last-child {
    display: none !important;
  }
}

.box-search-input{
  position: absolute;
  width: 98%; 
  height:3.5rem; 
  margin-left:3rem;
  margin-top:0.3rem !important;
}

.mobile-search-input{
  background-color: white !important;
  padding-left:0px !important;
  text-indent: 5rem;
}

@media screen and (min-width: 1024px) {

  .price-sell {
    font-size: 18px !important;
  }

  i.left{
    margin-right:0px;
    margin-bottom: 2px !important;
    font-size: 10px !important;
  }

  .icon-label {
    font-size: 10px !important;
  }

  .btn-voucherbtn{
    padding: 0rem !important;
    text-transform: none !important;
    letter-spacing: 0px;
    font-size: 9px;
  }
}

@media screen and (min-width: 1280px) {

  .price-sell {
    font-size: 20px !important;
  }

  i.left{
    margin-right:0px;
    margin-bottom: 2px !important;
    font-size: 13px !important;
  }

  .icon-label {
    font-size: 13px !important;
  }

  .btn-voucher{
    padding: 0rem !important;
    text-transform: none !important;
    letter-spacing: 0px;
    font-size: 13px;
  }
}

.card .card-content {
  padding: 1px;
  border-radius: 0 0 2px 2px;
}

.label-home-discount{
  cursor: pointer;
  position: absolute;
  width: auto;
  padding: 3px;
  color: white;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
  background-color: orange; /* Orange */
  bottom: 0px !important; 
}

.price-discount{
  text-decoration: line-through;
  text-align: right;
  margin-top: 15px !important;
  margin-right: 10px !important;
}

.price-sell{
  text-align: left;
  margin-left: 10px !important;
}

.product-name-home{
  margin-left: 10px !important;
  margin-right: 10px !important;
  font-size: 18px !important;

  display: block;
  text-overflow: ellipsis;
  word-wrap: break-word;
  overflow: hidden;
  max-height: 1.6em;
  line-height: 1.8em;
}

i.left{
  margin-right:0px;
  margin-bottom: 3px !important;
  font-size: 15px;
}

.icon-label{
    font-size: 15px;
    position: absolute;
    bottom: 6px;
}

.rate-star{
  margin-left: 1px !important;
}

.row{
  margin-bottom: 5px;
}


.buy-now{
  width: 100% !important;
}

.product-price {
  margin-bottom: -5px;
  margin-top: 7px;
}

.product-voucher{
  margin-left: 1.5rem;
  margin-right: 1.5rem
}

.product-ship,
 .product-time{
  text-align: center;
  font-size: 2rem;
}

.total-fee{
  margin-bottom: -5px;
  margin-left: 5px;
}

.label-details-discount{
  position: absolute;
  background-color: orange;
  margin-top: 30px !important;
}

.price-original{
  text-decoration: line-through;
  margin-top: 30px !important;
  margin-left: 10px !important;
}

.prev,
.next {
        cursor: pointer;
        position: absolute;
        top: 50%;
        width: auto;
        padding: 16px;
        margin-top: -22px;
        color: blue;
        font-weight: bold;
        font-size: 18px;
        transition: 0.6s ease;
        border-radius: 0 3px 3px 0;
      }

.next {
        right: 0;
        border-radius: 3px 0 0 3px;
      }

.prev:hover,
.next:hover {
        background-color: rgba(0, 0, 0, 0.8);
}

.product-name-details{
  display: inline-block;
  width: 100%;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  margin-left: 5px !important;
}

.autocomplete{
  margin-bottom: 10px !important;
}

.btn-voucher{
  width: 100%;
  margin-top:  1.5rem !important;
  padding: 0 1rem !important;
  text-transform: none !important;
  letter-spacing: .1px;
}

.description{
  padding: 1% !important;
}

.tabs .tab a{
  color:#000;
} 

.tabs .tab a:hover {
  background-color:#eee;
  color:#000;
} 

.tabs .tab a.active {
  background-color:#888;
  color:#000;
} 

.tabs .indicator {
  background-color: transparent;
} 

.btn-login{
  margin-bottom: 20px !important;
}

.login-remember{
  padding-left: 22px !important;
  color: #039be5;
}

.cart-badge{
  margin-left: -15px !important;
}
