<footer class="page-footer deep-orange lighten-1">
    <div class="container">
      <div class="row">

        <!-- ADDRRESS -->
        <!-- ADDRRESS -->
        <!-- ADDRRESS -->
        <div class="col l6 s12">
          <h5 class="white-text">Cửa Hàng Đồ Chơi Kingpes</h5>
          <p class="grey-text text-lighten-4">D/C: 65B Lưu Chí Hiếu - P.Tây Thạnh - Q.Tân Phú - HCM</p>
          <p class="grey-text text-lighten-4">Hotline: 0902.500.478</p>
          <p class="grey-text text-lighten-4">Email: kingpesvn@gmail.com</p>
          <p class="grey-text text-lighten-4">Website: kingpes.com</p>
        </div>
        <!-- ADDRRESS -->
        <!-- ADDRRESS -->
        <!-- ADDRRESS -->

        <div class="col l4 offset-l2 s12">
          <h5 class="white-text">Links</h5>
          <ul>
            <li>
              <a class="grey-text text-lighten-3" href="#!">Google+</a>
            </li>
            <li>
              <a class="grey-text text-lighten-3" href="#!">Facebok</a>
            </li>
            <li>
              <a class="grey-text text-lighten-3" href="#!">Youtube</a>
            </li>
          </ul>
        </div>
      </div>
    </div>


    <div class="footer-copyright">
      <div class="container">
        Copyright © 2018 Kingpes
        <a class="grey-text text-lighten-4 right" href="#!">Design and Developed by Kingpes</a>
      </div>
    </div>
  </footer>