<div id="menu" class="">
    <nav id="navbar" class="deep-orange lighten-1">
        <div class="nav-wrapper">
            <!-- ICON -->
            <a href="#" data-activates="mobile-demo" class="button-collapse">
                <i class="material-icons">menu</i>
            </a>
            <!-- ICON -->

            <!-- WEB -->
            <div class="row">
                <div class="col s6">
                    <ul class="left hide-on-med-and-down">
                        <li>
                            <a href="https://docs.google.com/forms/d/e/1FAIpQLScCtwnRHg0BcfpQ_I2fKWAMY5CDwFytHWhx1oI8YlOA99wu2Q/viewform" target="_blank">
                                Trang Chủ
                            </a>
                        </li>
                        <li>
                            <a href="https://docs.google.com/forms/d/e/1FAIpQLScCtwnRHg0BcfpQ_I2fKWAMY5CDwFytHWhx1oI8YlOA99wu2Q/viewform" target="_blank">
                                Đồ Chơi Bé Trai
                            </a>
                        </li>
                        <li>
                            <a href="https://docs.google.com/forms/d/e/1FAIpQLScCtwnRHg0BcfpQ_I2fKWAMY5CDwFytHWhx1oI8YlOA99wu2Q/viewform" target="_blank">
                                Đồ Chơi Bé Gái
                            </a>
                        </li>
                        <li>
                            <a class="modal-trigger" href="#modal-search">
                                Tìm Kiếm
                            </a>
                        </li>
                        <li>
                            <a class="modal-trigger" href="#modal-contact">
                                Liên Hệ
                            </a>
                        </li>
                    </ul>
                </div>
                <div class="col s6">
                    <ul class="right hide-on-med-and-down">
                        <li>
                            <a href="https://itunes.apple.com/us/app/go2joy/id1185445287?ls=1&mt=8" target="_blank">
                                <img class="store-button" align="center" src="<%=url%>getImage:icon|appstore-white.png" />
                            </a>
                        </li>

                        <li>
                            <a href="https://itunes.apple.com/us/app/go2joy/id1185445287?ls=1&mt=8" target="_blank">
                                <img class="store-button" align="center" src="<%=url%>getImage:icon|googleplay-white.png" />
                            </a>
                        </li>
                    </ul>
                </div>
            </div>

        </div>
    </nav>
    <!-- WEB -->


    <!-- MOBILE -->
    <ul class="side-nav" id="mobile-demo">
        <li>
            <a href="https://docs.google.com/forms/d/e/1FAIpQLScCtwnRHg0BcfpQ_I2fKWAMY5CDwFytHWhx1oI8YlOA99wu2Q/viewform" target="_blank">
                Trang Chủ
            </a>
        </li>
        <li>
            <a href="https://docs.google.com/forms/d/e/1FAIpQLScCtwnRHg0BcfpQ_I2fKWAMY5CDwFytHWhx1oI8YlOA99wu2Q/viewform" target="_blank">
                Đồ Chơi Bé Trai
            </a>
        </li>
        <li>
            <a href="https://docs.google.com/forms/d/e/1FAIpQLScCtwnRHg0BcfpQ_I2fKWAMY5CDwFytHWhx1oI8YlOA99wu2Q/viewform" target="_blank">
                Đồ Chơi Bé Gái
            </a>
        </li>
        <li>
            <a class="modal-trigger" href="#modal-search">
                Tìm Kiếm
            </a>
        </li>
        <li>
            <a class="modal-trigger" href="#modal-contact">
                Liên Hệ
            </a>
        </li>
        <li>
            <a href="https://play.google.com/store/apps/details?id=com.appromobile.hotel&hl=en" target="_blank">
                <img class="store-button" align="center" style="width:50%" src="<%=url%>getImage:icon|googleplay-white.png" />
            </a>
        </li>
        <li>
            <a href="https://itunes.apple.com/us/app/go2joy/id1185445287?ls=1&mt=8" target="_blank">
                <img class="store-button" align="center" style="width:50%" src="<%=url%>getImage:icon|appstore-white.png" />
            </a>
        </li>
    </ul>
    <!-- MOBILE -->
</div>