<!DOCTYPE html>
<html lang="en">

<!-- Head -->
<head>
  <meta charset="UTF-8">
  <!--Import Google Icon Font-->
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
  <!--Import materialize.css-->
  <link type="text/css" rel="stylesheet" href="../css/materialize.css" media="screen,projection" />
  <!--Import owl-carousel.css-->
  <link rel="stylesheet" href="../css/owl.carousel.min.css">
  <link rel="stylesheet" href="../css/owl.theme.default.min.css">
  <!--Import animate.css-->
  <link type="text/css" rel="stylesheet" href="../css/animate.css" media="screen,projection" />
  <!--Import index.css-->
  <link type="text/css" rel="stylesheet" href="../css/index.css" media="screen,projection" />
  <!--Mobile optimize -->
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Kingpesvn</title>
</head>
<!-- Head End -->

<body>

    <h2>HTML Imagefdsjf dsf dsfj lds fjs fsd fdsfdsf ds f</h2>
    <img class="carousel-image" src="https://blog.ssis.edu.vn/102481/wp-content/uploads/sites/185/2016/09/imgres.jpg">
    <img class="carousel-image" src="./aloc.jpg">

  <!-- Header -->
  <header>
    <div id="banner1">
      <div class="carousel carousel-slider center" data-indicators="true">
        <div class="carousel-fixed-item center">
          <a class="btn waves-effect white grey-text darken-text-2">button</a>
        </div>
        <!-- 
            <div class="carousel-item" href="#one!">
                <a href="#one!"><img src="https://lorempixel.com/800/400/food/1"></a>
            </div>
            <div class="carousel-item" href="#two!">
                <a  href="#two!"><img src="https://lorempixel.com/800/400/food/2"></a>
            </div>
            <div class="carousel-item" href="#three!">
                <a href="#three!"><img src="https://lorempixel.com/800/400/food/3"></a>
            </div>
            <div class="carousel-item " href="#four!">
                <a href="#four!"><img src="https://lorempixel.com/800/400/food/4"></a>
            </div> -->
        <a class="carousel-item" href="#one!">
          <img class="carousel-image" src="https://lorempixel.com/800/400/food/1">
        </a>
        <a class="carousel-item" href="#two!">
          <img class="carousel-image" src="https://lorempixel.com/800/400/food/2">
        </a>
        <a class="carousel-item" href="#three!">
          <img class="carousel-image" src="https://lorempixel.com/800/400/food/3">
        </a>
        <a class="carousel-item" href="#four!">
          <img class="carousel-image" src="https://lorempixel.com/800/400/food/4">
        </a>
      </div>
    </div>
    <div id="menu" class="">
      <nav id="navbar" class="deep-orange lighten-1">
        <div class="nav-wrapper">
          <a href="#!" class="brand-logo">Logo</a>
          <a href="#" data-activates="mobile-demo" class="button-collapse">
            <i class="material-icons">menu</i>
          </a>
          <ul class="right hide-on-med-and-down">
            <li>
              <a href="sass.html">Sass</a>
            </li>
            <li>
              <a href="badges.html">Components</a>
            </li>
            <li>
              <a href="collapsible.html">Javascript</a>
            </li>
            <li>
              <a href="mobile.html">Mobile</a>
            </li>
          </ul>
        </div>
      </nav>
      <ul class="side-nav" id="mobile-demo">
        <li>
          <a href="sass.html">Sass</a>
        </li>
        <li>
          <a href="badges.html">Components</a>
        </li>
        <li>
          <a href="collapsible.html">Javascript</a>
        </li>
        <li>
          <a href="mobile.html">Mobile</a>
        </li>
      </ul>
    </div>
  </header>
  <!-- Header End -->

  <!-- Main -->
  <main>
    <div id="about">
      <div class="parallax-container">
        <div class="parallax">
          <img src="../images/footer-img.jpg">
        </div>
      </div>
      <div class="section white">
        <div class="row container">
          <h2 class="header deep-orange-text">
            <blockquote>
              Go2Joy
            </blockquote>
          </h2>
          <p class="grey-text text-darken-3 lighten-3 flow-text">Go2Joy là ứng dụng trên điện thoại di động giúp người dùng đặt phòng theo giờ một cách nhanh chóng, thuận tiện,
            riêng tư. Không cần phải mất nhiều thời gian tìm kiếm nữa, với Go2Joy, chỉ cần vài cú chạm trong vài giây, bạn
            đã có thể chọn cho mình một địa điểm trải nghiệm dịch vụ ưng ý. Hãy để công nghệ hiện đại phục vụ cho cuộc sống
            của bạn dễ dàng và thoải mái hơn!</p>
          <p class="fbshare">
            <iframe src="https://www.facebook.com/plugins/like.php?href=https%3A%2F%2Fdevelopers.facebook.com%2Fdocs%2Fplugins%2F&width=450&layout=standard&action=like&size=large&show_faces=true&share=true&height=80&appId=1560905190879719"
              width="650" height="80" style="border:none;overflow:hidden" scrolling="no" frameborder="0" allowtransparency="true"></iframe>
          </p>
        </div>
      </div>
      <div class="parallax-container">
        <div class="parallax">
          <img src="../images/chao-don.jpg">
        </div>
      </div>
    </div>
    <div id="hotel" class="section">
      <div class="container section">
        <h2 class="header deep-orange-text row">
          <blockquote>
            Khách sạn
          </blockquote>
        </h2>
        <div class="row section">
          <!-- START one hotel item -->
          <div class="col s12 m6 l4">
            <a class="modal-trigger" href="#modal1">
              <div class="card hoverable z-depth-2">
                <div class="card-image">
                  <img src="../images/hotel/namanh.jpg">
                </div>
                <div class="card-content">
                  <h5 class="deep-orange-text text-darken-1">Nam Anh Hotel</h5>
                  <p class=" grey-text text-darken-4">331/8 Đường Phan Huy Ích, P.14, Q.Gò Vấp, TP.HCM</p>
                </div>
              </div>
            </a>
          </div>

          <!-- END one hotel item -->
          <!-- START one hotel item -->
          <div class="col s12 m6 l4">
            <a class="modal-trigger" href="#modal1">
              <div class="card hoverable z-depth-2">
                <div class="card-image">
                  <img src="../images/hotel/namanh.jpg">
                </div>
                <div class="card-content">
                  <h5 class="deep-orange-text text-darken-1">Nam Anh Hotel</h5>
                  <p class=" grey-text text-darken-4">331/8 Đường Phan Huy Ích, P.14, Q.Gò Vấp, TP.HCM</p>
                </div>
              </div>
            </a>
          </div>

          <!-- END one hotel item -->
          <!-- START one hotel item -->
          <div class="col s12 m6 l4">
            <a class="modal-trigger" href="#modal1">
              <div class="card hoverable z-depth-2">
                <div class="card-image">
                  <img src="../images/hotel/namanh.jpg">
                </div>
                <div class="card-content">
                  <h5 class="deep-orange-text text-darken-1">Nam Anh Hotel</h5>
                  <p class=" grey-text text-darken-4">331/8 Đường Phan Huy Ích, P.14, Q.Gò Vấp, TP.HCM</p>
                </div>
              </div>
            </a>
          </div>

          <!-- END one hotel item -->
          <!-- START one hotel item -->
          <div class="col s12 m6 l4">
            <a class="modal-trigger" href="#modal1">
              <div class="card hoverable z-depth-2">
                <div class="card-image">
                  <img src="../images/hotel/namanh.jpg">
                </div>
                <div class="card-content">
                  <h5 class="deep-orange-text text-darken-1">Nam Anh Hotel</h5>
                  <p class=" grey-text text-darken-4">331/8 Đường Phan Huy Ích, P.14, Q.Gò Vấp, TP.HCM</p>
                </div>
              </div>
            </a>
          </div>

          <!-- END one hotel item -->

        </div>
        <div id="event"></div>
        <div id="question"></div>
  </main>
  <!-- Main End -->

  <!-- Footer -->
  <footer class="page-footer">
    <div class="container">
      <div class="row">
        <div class="col l6 s12">
          <h5 class="white-text">Footer Content</h5>
          <p class="grey-text text-lighten-4">You can use rows and columns here to organize your footer content.</p>
        </div>
        <div class="col l4 offset-l2 s12">
          <h5 class="white-text">Links</h5>
          <ul>
            <li>
              <a class="grey-text text-lighten-3" href="#!">Link 1</a>
            </li>
            <li>
              <a class="grey-text text-lighten-3" href="#!">Link 2</a>
            </li>
            <li>
              <a class="grey-text text-lighten-3" href="#!">Link 3</a>
            </li>
            <li>
              <a class="grey-text text-lighten-3" href="#!">Link 4</a>
            </li>
          </ul>
        </div>
      </div>
    </div>
    <div class="footer-copyright">
      <div class="container">
        © 2014 Copyright Text
        <a class="grey-text text-lighten-4 right" href="#!">More Links</a>
      </div>
    </div>
  </footer>
  <!-- Footer End -->

  <!-- Import query -->
  <script type="text/javascript" src="../js/jquery-3.2.1.min.js"></script>
  <script type="text/javascript" src="../js/owl.carousel.min.js"></script>
  <script type="text/javascript" src="../js/materialize.js"></script>
  <script type="text/javascript" src="../js/index.js"></script>

</body>

</html>