<div id="modal-comment" class="modal">
    <div class="modal-content">
        <nav class=" teal">
            <div class="nav-wrapper">
                <form>
                    <div class="input-field">
                        <input id="search" type="search" placeholder="Bình luận của bạn" required>

                        <i class="material-icons">close</i>
                    </div>
                </form>
            </div>
        </nav>
    </div>
    <div class="modal-footer">
        <a href="#!" class="modal-action modal-close waves-effect waves-green btn">Gửi</a>
    </div>
</div>