 <!-- Section: Profile -->
<section id="flash-sale.html" class="section scrollspy">
        <div class="container">
            <div class="row">
                <h4 class="center flow-text">
                    <span class="teal-text">Thong tin tai khoan</span>
                </h4>

    
            </div>
        </div>
    </section>


    <section id="flash-sale.html" class="section scrollspy">
            <div class="container">
                <div class="row">
                    <h4 class="center flow-text">
                        <span class="teal-text">Thong tin giao hang</span>
                    </h4>
    
        
                </div>
            </div>
        </section>

        <div class="btn" id="btn-logout">Dang xuat</div>