<section class="section section-icons grey lighten-4 center">

    <div style="margin-top: 30px"></div>

    <div class="row">
        <div class="col s12 m3">
            <div class="card-panel purple darken-1">
                <i class="material-icons normal teal-text">ANDROID</i>
                <h4 class="flow-text">100000000</h4>
            </div>
        </div>
        <div class="col s12 m3">
            <div class="card-panel">
                <i class="material-icons normal teal-text">IOS</i>
                <h4 class="flow-text">100000000</h4>
            </div>
        </div>
        <div class="col s12 m3">
            <div class="card-panel">
                <i class="material-icons normal teal-text">WEB</i>
                <h4 class="flow-text">100000000</h4>
            </div>
        </div>
        <div class="col s12 m3">
            <div class="card-panel">
                <i class="material-icons normal teal-text">$</i>
                <h4 class="flow-text">100000000</h4>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col s12 m3">
            <div class="card-panel purple darken-1">
                <i class="material-icons normal teal-text">USER</i>
                <h4 class="flow-text">100000000</h4>
            </div>
        </div>
        <div class="col s12 m3">
            <div class="card-panel">
                <i class="material-icons normal teal-text">OPEN</i>
                <h4 class="flow-text">100000000</h4>
            </div>
        </div>
        <div class="col s12 m3">
            <div class="card-panel">
                <i class="material-icons normal teal-text">CART</i>
                <h4 class="flow-text">100000000</h4>
            </div>
        </div>
        <div class="col s12 m3">
            <div class="card-panel">
                <i class="material-icons normal teal-text">VIEWS</i>
                <h4 class="flow-text">100000000</h4>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col s12 m3">
            <div class="card-panel purple darken-1">
                <i class="material-icons normal teal-text">USER</i>
                <h4 class="flow-text">100000000</h4>
            </div>
        </div>
        <div class="col s12 m3">
            <div class="card-panel">
                <i class="material-icons normal teal-text">OPEN</i>
                <h4 class="flow-text">100000000</h4>
            </div>
        </div>
        <div class="col s12 m3">
            <div class="card-panel">
                <i class="material-icons normal teal-text">CART</i>
                <h4 class="flow-text">100000000</h4>
            </div>
        </div>
        <div class="col s12 m3">
            <div class="card-panel">
                <i class="material-icons normal teal-text">VIEWS</i>
                <h4 class="flow-text">100000000</h4>
            </div>
        </div>
    </div>

</section>