<!DOCTYPE html>
<html lang="en">

<head>
    <%include ../base/meta.ejs%>

        <%include ../base/css.ejs%>
            <link rel="stylesheet" href="css/my-css.css">

            <title>KINGPES-THONG KE</title>
</head>

<body class="grey lighten-3">

    <header>
        <%include ../base/header.ejs%>
    </header>

    <main>
        <%include list-layout/list-layout.ejs%>
    </main>

    <footer>
        <%include ../base/footer.ejs%>
    </footer>

    <%include ../base/js.ejs%>

    <%include list-layout/list-js.ejs%>

</body>

</html>